*, *::before, *::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	outline: none;
}
body {
	width: 100%;
	min-width: 1120px; 
	font-family: 'Open Sans';
}
input{
	padding-left: 10px;
	padding-right: 10px: 
}
button{
	cursor: pointer;
}
header.header {
	width: 100%;
	background-color: black;
	background: url(../img/header.jpg) no-repeat center;
    background-size: cover;
    position: relative;
}
.container{
	height: auto;
}
.wrap{
	width: 960px;
}
.testimonials > div{
	width: 960px;
}
.star > img{
	display: inline-block;
}
.slick-dots{
	margin-bottom: 20px;
}
.line-header {
	background-color: rgb(255, 255, 255);
	opacity: 0.149;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 110px;
	z-index: 1;
}
.line-white {
	background-color: #efeeed;
	opacity: 0.851;
	position: absolute;
	left: 0;
	top: 5px;
	width: 47%;
	height: 100px;
	z-index: 2;
}
.line-white::after {
	content: '';
	position: absolute;
	right: -80px;
	top: 0;
	border: 50px solid transparent;
	border-left: 30px solid #efeeed;
}
.header-wrap {
	margin: 0 auto;
	z-index: 1000;
	position: relative;
}
.header-top {
	height: 100px;
	z-index: 1000;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.header-top-left {
	font-family: 'Open Sans';
	font-size: 18px;
	font-weight: 600;
	padding-left: 30px;
	position: relative;
}
.header-top-left::before {
	content: '';
	position: absolute;
	height: 8px;
	width: 83px;
	background-color: #3193A0;
	transform: rotate(-90deg);
	bottom: 40px;
	right: 365px;
	border-radius: 4px;
}
.header-top-right h2:nth-child(1n) {
	font-family: 'Open Sans';
	font-size: 24px;
	font-weight: 800;
	color: #fff;
}
.header-top-right h2:nth-child(2n) {
	font-family: 'Open Sans';
	font-size: 18.5px;
	text-transform: uppercase;
	font-weight: 800;
	color: #fff;
	line-height: 30px;
}
.header-bottom {
	display: flex;
	margin-top: 10px;
}
.header-bottom ul {
	list-style-image: url(../img/flag.png);
	position: relative;
	top: 30px;
	right: 85px;
}
.header-bottom li {
	font-family: 'Open Sans';
	font-size: 16.7px;
	line-height: 40px;
	font-weight: 600;
	color: #fff;
}
.header-bottom-barrel{
	position: relative;
	bottom: 25px;
	right: 90px;
}
.header-bottom-form {
	width: 325px;
	height: 450px;
	border-radius: 20px;
	text-align: center;
	margin-top: 15px;
	position: relative;
}
.header-bottom-form-top {
	width: 340px;
	height: 360px;
	border-radius: 20px;
	background-image: -moz-linear-gradient( 62deg, rgb(247,206,104) 0%, rgb(251,171,126) 100%);
    background-image: -webkit-linear-gradient( 62deg, rgb(247,206,104) 0%, rgb(251,171,126) 100%);
    background-image: -ms-linear-gradient( 62deg, rgb(247,206,104) 0%, rgb(251,171,126) 100%);
    position: relative;
    margin-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    z-index: 250;
}
.header-bottom-form-top h4 {
	font-family: 'Open Sans';
	font-size: 21px;
	font-weight: 700;
	line-height: 28px;
}
.header-bottom-compas {
	position: absolute;
	bottom: 268px;
	left: 298px;
}
.header-bottom-form form input {
	width: 300px;
	height: 60px;
	z-index: 289;
	border-radius: 200px;
	font-size: 20px;
	border: none;
}
.header-bottom-form input::placeholder {
	font-family: 'Open Sans';
	font-size: 24px;
	line-height: 40px;
	font-weight: 600;
	text-align: center;
	position: relative;
	top: 10px;
}
.span-form {
	display: flex;
	width: 300px;
	justify-content: space-around;
	align-items: baseline;
}
.span-form span:first-child {
	font-family: 'Open Sans';
	font-size: 26px;
	font-weight: 700;
	text-decoration: line-through;
}
.span-form span:last-child {
	font-family: 'Open Sans';
	font-size: 32px;
	font-weight: 800;
}
.header-bottom-form-top form span {
	position: relative;
	top: 20px;
}
.header-bottom-form-top form button {
    background-image: -moz-linear-gradient( 90deg, rgb(128,208,199) 0%, rgb(33,212,253) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(128,208,199) 0%, rgb(33,212,253) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(128,208,199) 0%, rgb(33,212,253) 100%);
    box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.004);
    width: 300px;
	height: 60px;
	z-index: 291;
	border-radius: 200px;
	font-family: 'Open Sans';
	font-size: 24px;
	line-height: 40px;
	font-weight: bold;
  	border: none;
  	margin-top: 18px;
	margin-bottom: 13px;
}
.header-bottom-form-bottom {
	width: 340px;
	height: 140px;
	z-index: 310;
	border-radius: 20px;
	background-color: rgb(0, 0, 0);
	opacity: 0.749;
	position: absolute;
	color: #fff;
	top: 310px;
	left: 15px;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 10;
	padding-top: 45px;
}
.car {
	position: absolute;
	top: 345px;
	left: -152.1px;
	background-image: url(../img/car.png);
	background-repeat: no-repeat;
	background-position: center; 
	height: 400px;
    width: 100%;
    text-align: center;
}
.headerTwo {
	width: 100%;
	background-color: black;
	background: url(../img/petrol.jpg) no-repeat center;
    background-size: cover;
    position: relative;
}
.headerTwo-wrap {
	margin: 0 auto;
	z-index: 1000;
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}
.parallelogramOne {
	width: 520px;;
	height: 127px;
	transform: skew(-20deg);
	background-color: rgb(0, 0, 0);
	opacity: 0.549;
	position: absolute;
	z-index: 259;
}
.parallelogramTwo {
	transform: skew(-20deg);
	background-color: rgb(0, 0, 0);
	opacity: 0.749;
	width: 630px;
	height: 237px;
  	z-index: 259;
  	position: absolute;
  	top: 127px;
}
.parallelogramOne-s {
	width: 430px;
	height: 125px;
	text-align: center;
	margin-right: 50px;
	color: #fff;
	z-index: 300;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: 'Open Sans';
	font-size: 18px;
	font-weight: 600;
}
.parallelogramTwo-s {
	width: 530px;
	height: 180px;
	color: #fff;
	z-index: 300;
	font-family: 'Open Sans';
	font-size: 50px;
	font-weight: 800;
	margin-right: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	margin-top: 25px;
}
.headerTwo img {
	position: absolute;
	z-index: 301;
	bottom: 185px;
	right: 510px;
}

.numbers {
	width: 100%;
	background-color: #fff;
	height: 300px;
}
.numbers img {
	position: absolute;
}
.numbers-wrap {
	margin: 0 auto;
	z-index: 1000;
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
}
.numbers-wrap h2 {
	margin-top: 50px;
	font-family: 'Open Sans';
	font-size: 30px;
	font-weight: 800;
	text-transform: uppercase;
	top: 18px;
	margin-bottom: 20px;
}

.numbers-bottom {
	display: flex;
	justify-content: space-around;
}
.numberOne {
	width: 270px;
	height: 180px;
}
.numberOne h2 {
	text-align: center;
	position: relative;
	top: 16px;
}
.numberTwo {
	width: 270px;
	height: 180px;
}
.numberTwo h2 {
	text-align: center;
	position: relative;
	top: 16px;
}
.numberThree {
	width: 320px;
	height: 180px;
}
.numberThree h2 {
	position: relative;
	top: 16px;
}
.number {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-end;
}
.advantages {
	width: 100%;
	background: url(../img/engine.png) no-repeat center;
	background-size: cover;
	position: relative;
}
.line-advantages {
	width: 62.5%;
	transform: skew(20deg);
	background-color: rgb(251, 205, 76);
	z-index: 229;
	position: absolute;
	right: 43%;
}
.advantages-wrap {
	margin: 0 auto;
	z-index: 1000;
	color: white;
	position: relative;
	display: flex;
	justify-content: flex-start;
}
.advatnages-wrap-two {
	width: 665px;
	height: auto;
	display: flex;
	flex-direction: column;
}
.advatnages-wrap-two h2 {
	color: #fff;
	font-family: 'Open Sans';
	font-size: 30px;
	font-weight: 800;
	margin-bottom: 15px;
}
.advatnages-wrap-two ul li {
	color: #fff;
	font-family: 'Open Sans';
	font-size: 18px;
	font-weight: 400;
	list-style-image: url(../img/krest.png);
	position: relative;
	line-height: 39px;
}
.info {
	width: 100%;
	background-color: #fff;
	position: relative;
}
.info-wrap {
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	position: relative;
}
.info-wrap h3{
	font-size: 30px;
	font-family: 'Open Sans';
	font-weight: 800;
	margin-bottom: 110px;
	align-self: center;
	text-transform: uppercase;
	text-align: center;
}
.photos {
	display: flex;
	justify-content: space-between;
}
.photoOne {
	width: 450px;
	height: 300px;
	background-color: #fdebbd;
	border-radius: 10px;
}
.photoTwo {
	width: 450px;
	height: 390px;
	background-color: #fdebbd;
	border-radius: 10px;
}
.photo {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 12px;
}
.photo img {
	position: absolute;
	bottom: 1100px;
}
.photo p {
	font-family: 'Open Sans';
	font-size: 17px;
	font-weight: 400;
}
.photo .p {
	margin-top: 115px;
}
.photoTwo .p {
	margin-bottom: 30px;
}
.photo-wrapOne button {
	background-image: -moz-linear-gradient( 90deg, rgb(128,208,199) 0%, rgb(33,212,253) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(128,208,199) 0%, rgb(33,212,253) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(128,208,199) 0%, rgb(33,212,253) 100%);
    box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.004);
    width: 300px;
	height: 60px;
	z-index: 291;
	border-radius: 200px;
	font-family: 'Open Sans';
	font-size: 24px;
	line-height: 40px;
	font-weight: bold;
  	border: none;
  	align-self: center;
  	margin-top: 16px;
}
.photo-wrapOne {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.h3 {
	margin-top: 30px;
}
.steps ul {
	display: flex;
	flex-wrap: wrap;
	align-content: space-between;
}
.steps li {
	width: 480px;
	height: 125px;
	margin-bottom: 15px;
	font-family: 'Open Sans';
	font-size: 18px;
	font-weight: 600;
}
.steps ul li:nth-child(1n) {
	list-style-image: url(../img/one.png);
	position: relative;
}
.steps ul li:nth-child(2n) {
	list-style-image: url(../img/two.png);
	position: relative;
}
.steps ul li:nth-child(3n) {
	list-style-image: url(../img/three.png);
	position: relative;
}
.steps ul li:nth-child(4n) {
	list-style-image: url(../img/four.png);
	position: relative;
}
.steps img {
	position: absolute;
	bottom: 140px;
	left: -55px;
}
.info-cars {
	height: 100px;
	width: 585px;
	padding-left: 25px;
	position:relative;
	bottom: 75px;
}

.info-cars h4 {
	font-size: 21px;
	font-family: 'Open Sans';
	font-weight: 700;
}
.info-cars p {
	margin-top: 10px;
	font-size: 16px;
	font-family: 'Open Sans', sans-serif;
	font-style: italic;
}
.info-cars::before {
	content: '';
	position: absolute;
	height: 8px;
	width: 83px;
	background-color: #3193A0;
	transform: rotate(-90deg);
	bottom: 55px;
	right: 540px;
	border-radius: 4px;
}
.infoCar {
	position: absolute;
	bottom: -87px;
	left: 525px;
}
.info-one {
	width: 100%;
	position: relative;
  	height: 180px;
  	z-index: 170;
}
.info-one:after {
	content: "";
	height: 130px; 
	width: 100%;
	position: absolute;
	top: 24px;
	background: black;
	transform: skew(0deg, -2deg);
}
.info-one-wrap {
	height: 130px;
	position: relative;
	margin: 0 auto;
	display: flex;
	align-items: center;
}
.info-bigcar {
	color: #fff;
	position: relative;
	bottom: -20px;
}
.info-bigcar:before {
	content: '';
	position: absolute;
	height: 8px;
	width: 83px;
	background-color: #3193A0;
	transform: rotate(-90deg);
	bottom: 40px;
	right: 290px;
	border-radius: 4px;
}
.info-bigcar {
	z-index: 300;
	height: 90px;
	width: 345px;
	display: flex;
	justify-content: center;
	padding-left: 35px;
	flex-direction: column;
}
.info-bigcar h4 {
	font-size: 21px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
}
.info-bigcar p {
	margin-top: 10px;
	font-size: 16px;
	font-family: 'Open Sans', sans-serif;
	font-style: italic;
}
.info-one-wrap img {
	z-index: 499;
	position: relative;
	top: -15px;
}
.table {
	background-color: white;
	z-index: 501;
	position: relative;
}
.table-wrap {
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}
.papers {
	width: 815px;
	background: url(../img/papers.jpg) no-repeat center;
    background-size: cover;
    position: relative;
    margin: 0 auto;
    margin-top: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
}
table {
	border: 1px solid rgb(0, 0, 0);
	position: relative;
	width: 720px;
	height: 498px;
	z-index: 117;
	margin-right: 40px;
	border-collapse: collapse;
}
table td {
	font-family: 'Open Sans';
	font-weight: 400;
	font-size: 14px;
	border: 1px solid black;
}
table th, table td {
	vertical-align: center;
	text-align: center;
}
.bold {
	font-weight: bold;
}
.number-table {
	font-size: 16px;
}
.expert {
	width: 100%;
	background: url(../img/expert.jpg) no-repeat center;
    background-size: cover;
    position: relative;
}
.expert-wrap {
	margin: 0 auto;
	color: #fff;
	display: flex;
}
.expert-wrap h2 {
	font-family: 'Open Sans';
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 10px;
}
.expert-wrap h3 {
	font-family: 'Open Sans';
}
.expert-wrap p {
	font-family: 'Open Sans';
	font-size: 18px;
	font-weight: 400;
}
.wrap-wrap {
	width: 635px;
}
.wrap-wrap p:last-child {
	font-style: italic;
}
.wrap-wrap h3 {
	margin-top: 15px;
}
.expert img {
	position: relative;
    bottom: 55px;
    left: 0px;
	/* edited
	position: absolute;
	bottom: -35px;
	right: 225px;
	*/
	z-index: 600;
}
.feedback {
	width: 100%;
	background: url(../img/feedback.jpg) no-repeat center;
    background-size: cover;
    position: relative;
}
.feedback-wrap {
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}
.feedback-wrap span {
	font-weight: bold;
}
.feedback-wrap h2 {
	text-align: center;
	font-family: 'Open Sans';
	color: black;
	font-weight: 800;
	font-size: 28px;
	text-transform: uppercase;
}
.ivan {
	margin: auto;
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 450px;
}
.star {
	margin-top: 10px;
}
.text {
	font-size: 18px;
	text-align: center;
	margin-top: 30px;
}
footer {
	height: 65px;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.papers{
	margin-bottom: 100px;
}
.papers > table{
	margin: 10px;
}
@media (max-width: 960px){
	.advatnages-wrap-two ul li, .advatnages-wrap-two h2 {
		color: #000;
	}
	body{
		min-width: 480px;
		overflow-x: hidden;
	}
	.wrap{
		width: 480px;
		height: auto;
	}
	.testimonials > div{
		width: 480px;
	}
	.header-bottom{
		position: unset;
		display: block;
	}
	.advantages{
		background: none;
	}
	.numbers{
		height: auto;
	}
	.numbers img {
		transform: translateX(-90px);
	}
	div.number{
		display: block;
		width: 100%;
		margin-bottom: 30px;
	}
	.numbers-bottom{
		display: block;
		text-align: center;
	}
	.advatnages-wrap-two {
		height: auto;
	}
	.photos > div > div{
		height: auto;
		display: block;
		text-align: center;
	}
	.photos{
		display: block;
	}
	.photos .photo{
		height: auto;
	}
	.header-bottom ul {
		right: -20px;
    	margin-bottom: 60px;
	}
	.header-bottom-barrel {
	    bottom: 0;
    	width: 300px;
    	height: 500px;
    	right: -60px;
	}
	.header-wrap{
		padding-top: 50px;
		padding-bottom: 50px;
	}
	.header-top, .line-header, .line-white{
		display:none;
	}
	.photos div{
		margin: 0; 
	}
	.photo-wrapOne{
		display: block;
	}
	.photo img {
		position: unset;
	}
	.photo .p {
	    margin-top: 0;
	}
	.info-wrap > h3{
		margin-bottom: 10px; 
	}
	.photoOne p{
		text-align: left;
	}
	.photoOne.photo{
		padding: 10px;
	}
	.steps{
		transform: translateX(60px);
    	margin-top: 40px;
    	width: 400px;
    	padding-left: 10px; 
	}
	.info-cars {
		width: 435px;
		bottom: 0;
		height: auto;
	}
	.infoCar{
		position: unset;
	}
	.info-one{
		height: auto;
	}
	.info-one:after, .info-cars::before, .info-bigcar:before {
		display: none;
	}
	.info-bigcar{
		height: auto;
		display: block;
		color: #000;
	}
	.container{
		overflow-x: hidden;
		padding-left: 50px;
	}
	.no-pad{
		padding: 0;
	}
	.advantages-wrap{
		padding-left: 35px;
	}
	.feedback{
		overflow: visible;
	}
	.slick-next{
		right: 0;
	}
	.photo-wrapOne{
		padding-left: 15px; 
	}
	.photoTwo.photo{
		margin-left: 15px; 
	}
	.scroll-bottom{
	    margin: 10px auto 10px 75px;
	}
	.headerTwo-wrap{
		transform: scale(0.8);
	}
	.info-one-wrap{
		display: block;
		height: 460px;
	}
	.info-one{
		padding: 30px;
	}
	.table.container{
		text-align: center;
	}
	.papers > table{
		height: auto;
	}
	.papers{
		margin: 10px auto;
		width: 470px;
		height: 260px;
	}
	table{
		transform: scale(0.6) translate(-140px, 0px);
	}
	table *{
		padding: 5px;
	}
	.expert-wrap{
		display: block;
	}
	.wrap-wrap{
		width: 435px;
		margin: 20px;
	}
	.expert img{
		margin: auto;
		bottom: 15px; 
		left: 100px;
	}
}