html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section{display:block;}
body{line-height:1;}
ol, ul{list-style:none;}
blockquote, q{quotes:none;}
blockquote:before, blockquote:after,
q:before, q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}
*{box-sizing:border-box;outline:none;}
*::before, *::after{box-sizing:border-box;}
html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
body{margin:0;}
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary{display:block;}
audio,
canvas,
progress,
video{display:inline-block;}
audio:not([controls]){display:none;height:0;}
progress{vertical-align:baseline;}
template,
[hidden]{display:none;}
a{background-color:transparent;-webkit-text-decoration-skip:objects;}
a:active,
a:hover{outline-width:0;}
abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted;}
b,
strong{font-weight:inherit;}
b,
strong{font-weight:bolder;}
dfn{font-style:italic;}
h1{font-size:2em;margin:0.67em 0;}
mark{background-color:#ff0;color:#000;}
small{font-size:80%;}
sub,
sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}
sub{bottom:-0.25em;}
sup{top:-0.5em;}
img{border-style:none;}
svg:not(:root){overflow:hidden;}
code,
kbd,
pre,
samp{font-family:monospace, monospace;font-size:1em;}
figure{margin:1em 40px;}
hr{box-sizing:content-box;height:0;overflow:visible;}
button,
input,
select,
textarea{font:inherit;margin:0;}
optgroup{font-weight:bold;}
button,
input{overflow:visible;}
button,
select{text-transform:none;}
button,
html [type="button"],
[type="reset"],
[type="submit"]{-webkit-appearance:button;}
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner{border-style:none;padding:0;}
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring{outline:1px dotted ButtonText;}
fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:0.35em 0.625em 0.75em;}
legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal;}
textarea{overflow:auto;}
[type="checkbox"],
[type="radio"]{box-sizing:border-box;padding:0;}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button{height:auto;}
[type="search"]{-webkit-appearance:textfield;outline-offset:-2px;}
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration{-webkit-appearance:none;}
::-webkit-input-placeholder{color:inherit;opacity:0.54;}
::-webkit-file-upload-button{-webkit-appearance:button;font:inherit;}
@font-face{font-family:OpenSansRegular;src:url("../fonts/OpenSans-Regular.ttf");}
@font-face{font-family:OpenSansBold;src:url("../fonts/OpenSans-Bold.ttf");}
@font-face{font-family:OpenSansItalic;src:url("../fonts/OpenSans-Italic.ttf");}
@font-face{font-family:OpenSansExtraBold;src:url("../fonts/OpenSans-ExtraBold.ttf");}
@font-face{font-family:OpenSansSemibold;src:url("../fonts/OpenSans-Semibold.ttf");}
.wrapper .header-top .inner, .wrapper .footer-top .inner, .wrapper .header-bottom .inner, .wrapper .footer-bottom .inner, .wrapper .screen-2 .inner, .wrapper .screen-3 .inner, .wrapper .screen-4 .inner, .wrapper .screen-5 .inner, .wrapper .screen-6 .inner, .wrapper .screen-7 .inner, .wrapper .screen-8 .inner, .wrapper .screen-9 .inner, .wrapper .copyright .inner{display:block;width:320px;margin:0 auto;padding:0 10px;}
.wrapper{overflow:hidden;max-width:800px;margin:0 auto;}
.wrapper .header, .wrapper .footer{background-image:url(../images/bg-header.png);background-size:cover;background-position:center top;position:relative;z-index:1;}
.wrapper .header-top, .wrapper .footer-top{background-color:#eae8e3;padding:10px 0 7px;}
.wrapper .header-top .inner img, .wrapper .footer-top .inner img{display:block;margin:0 auto;}
.wrapper .header-bottom, .wrapper .footer-bottom{padding:20px 0 305px;}
.wrapper .header-bottom .inner .h1, .wrapper .footer-bottom .inner .h1{margin:0;font-family:"OpenSansExtraBold";color:#fff;font-size:25px;text-align:center;line-height:30px;padding-bottom:15px;}
.wrapper .header-bottom .inner .h1 span, .wrapper .footer-bottom .inner .h1 span{font-size:19px;line-height:23px;display:block;padding-top:5px;}
.wrapper .header-bottom .inner img, .wrapper .footer-bottom .inner img{display:block;margin:0 auto;}
.wrapper .header-bottom .inner form, .wrapper .footer-bottom .inner form{width:340px;margin-top:25px;margin-left:-20px;background-image:linear-gradient(to bottom left, #fbab7e, #f7ce68);border-radius:19px;position:relative;padding:0 20px 20px;}
.wrapper .header-bottom .inner form img, .wrapper .footer-bottom .inner form img{position:absolute;left:20px;top:-20px;}
.wrapper .header-bottom .inner form .form-title, .wrapper .footer-bottom .inner form .form-title{display:block;padding-left:95px;font-size:18px;font-family:"OpenSansBold";line-height:20px;padding-bottom:10px;padding-top:15px;}
.wrapper .header-bottom .inner form .price, .wrapper .footer-bottom .inner form .price{padding-left:95px;padding-bottom:30px;}
.wrapper .header-bottom .inner form .price-item, .wrapper .footer-bottom .inner form .price-item{font-family:"OpenSansBold";font-size:26px;}
.wrapper .header-bottom .inner form .price-item:first-child, .wrapper .footer-bottom .inner form .price-item:first-child{text-decoration:line-through;padding-bottom:10px;}
.wrapper .header-bottom .inner form .price-item:last-child, .wrapper .footer-bottom .inner form .price-item:last-child{font-family:"OpenSansExtraBold";font-size:32px;}
.wrapper .header-bottom .inner form .input-item, .wrapper .footer-bottom .inner form .input-item{width:100%;height:60px;background-color:#fff;border-radius:30px;padding:7px 25px 0;margin-bottom:10px;}
.wrapper .header-bottom .inner form .input-item .input-title, .wrapper .footer-bottom .inner form .input-item .input-title{display:block;text-align:center;font-family:"OpenSansRegular";font-size:14px;}
.wrapper .header-bottom .inner form .input-item input, .wrapper .footer-bottom .inner form .input-item input{display:block;width:100%;text-align:center;border:none;font-size:24px;font-family:"OpenSansSemibold";}
.wrapper .header-bottom .inner form button, .wrapper .footer-bottom .inner form button{display:block;width:100%;border:none;height:60px;border-radius:30px;background-image:linear-gradient(to bottom, #21d4fd, #80d0c7);font-family:"OpenSansBold";font-size:24px;cursor:pointer;box-shadow:0 3px 7px 0 black;}
.wrapper .header-bottom .inner .form-bottom, .wrapper .footer-bottom .inner .form-bottom{font-family:"OpenSansItalic";font-size:14px;text-align:center;color:#fff;display:block;padding:18px 30px 0;}
.wrapper .screen-2{padding:60px 0 25px;background-image:url(../images/bg-2.png);background-size:cover;background-position:center top;margin-top:-38px;position:relative;z-index:0;}
.wrapper .screen-3{padding:20px 0 26px;background-color:#fff;}
.wrapper .screen-3 .inner img{display:block;margin:0 auto;}
.wrapper .screen-4{padding:20px 0;background-color:#fbcd4c;}
.wrapper .screen-4 .inner img{display:block;margin:0 auto;}
.wrapper .screen-5{padding:14px 0 0;background-image:url(../images/bg-5.png);background-position:center 90%;background-repeat:no-repeat;position:relative;z-index:1;}
.wrapper .screen-5 .inner img{display:block;margin:0 auto 25px;}
.wrapper .screen-5 .inner a.link-to-form{display:block;width:100%;border:none;height:60px;border-radius:30px;background-image:linear-gradient(to bottom, #21d4fd, #80d0c7);font-family:"OpenSansBold";font-size:24px;text-align:center;line-height:60px;color:#000;text-decoration:none;box-shadow:0 3px 7px 0 black;margin-bottom:-30px;}
.wrapper .screen-6{padding:70px 0 15px;background-color:#fff;position:relative;z-index:0;}
.wrapper .screen-6 .inner img{display:block;margin:0 auto;}
.wrapper .screen-7{padding:15px 0 25px;background-image:url(../images/bg-7.png);background-color:#fff;background-repeat:no-repeat;background-position:center bottom;margin-bottom:95px;}
.wrapper .screen-7 .inner img{display:block;margin:0 auto;}
.wrapper .screen-8{padding:0 0 22px;background-image:url(../images/bg-8.png);background-size:cover;background-position:center 90px;background-repeat:no-repeat;}
.wrapper .screen-8 .inner img{display:block;margin:-90px auto 0;}
.wrapper .screen-9{padding:20px 0 60px;background-image:url(../images/bg-9.png);background-size:cover;background-position:center top;}
.wrapper .screen-9 .inner .title{display:block;text-align:center;font-family:"OpenSansExtraBold";font-size:38px;padding-bottom:20px;}
.wrapper .screen-9 .inner .reviews .reviews-item img{display:block;margin:0 auto;}
.wrapper .footer{background-size:auto;background-repeat:no-repeat;}
.wrapper .footer-bottom{padding-bottom:35px;}
.wrapper .copyright{padding:12px 0;background-color:#fff;text-align:center;font-size:12px;font-family:"OpenSansRegular";line-height:16px;}
input::-webkit-input-placeholder{color:#b7b7b7;font-family:"OpenSansRegular";transition:opacity 0.3s ease;}
input::-moz-placeholder{color:#b7b7b7;font-family:"OpenSansRegular";transition:opacity 0.3s ease;}
input:-moz-placeholder{color:#b7b7b7;font-family:"OpenSansRegular";transition:opacity 0.3s ease;}
input:-ms-input-placeholder{color:#b7b7b7;font-family:"OpenSansRegular";transition:opacity 0.3s ease;}
input:focus::-webkit-input-placeholder{opacity:0;transition:opacity 0.3s ease;}
input:focus::-moz-placeholder{opacity:0;transition:opacity 0.3s ease;}
input:focus:-moz-placeholder{opacity:0;transition:opacity 0.3s ease;}
input:focus:-ms-input-placeholder{opacity:0;transition:opacity 0.3s ease;}