.hero-img:before {
    content: "";
    background: url(../images/md/hero-image.png) no-repeat top center;
}
.benefits-img{
	max-height: 200px;
	/*height: auto;*/
}
.hero-img:before {
    left: 0;
}
.catalog-parts-container{
	max-width: 370px;
	margin: 0 auto;
}
.catalog-parts-container a{
	display: block;
	max-height: 290px;
}
.catalog-parts-img {
	display: inline-block;
    
    width: auto;
}
footer{
	padding: 0;
	padding-top: 20px;
	padding-bottom: 20px;
}


/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px){
	/**/
}


/* Medium Devices, Desktops */
@media only screen and (max-width : 992px){
	#menu-padding-block {
		padding-top: 120px;
	}
}


/* Small Devices, Tablets */
@media only screen and (max-width : 768px){
	.navbar-brand>img{
		width: 150px;
		height: auto;
	}
	body{
		font-size: 18px;
	}
	.navbar .container{
		display: flex;
		justify-content: space-between;
	}
	.navbar-header{
		display: flex;
		align-items: center;
	}
	nav .navbar-brand{
		display: flex;
		align-items: center;
		height: auto;
	}
	.navbar-nav{
		max-width: 400px;
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-end;
	}
	.navbar-nav>li>a {
		padding-left: 0;
		padding-right: 20px;
	}
	.navbar-nav .open .dropdown-menu{
		position: absolute;
		right: 0px;
		left: auto;
		background: #627e9c;
		font-size: 20px;
	}
		/*end header*/
	h3, p{
		text-align: center;
	}
	.catalog-brand-img .img-responsive{
		margin: 0 auto;
	}
	.catalog-brand-img .text{
		text-align: center;
	}
	.btn {
		font-size: 20px;
	}

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px){
	.navbar-brand>img{
		width: 120px;
		height: auto;
	}
	.navbar-nav{
		font-size: 12px;
	}
	/*header end*/
	#menu-padding-block {
		padding-top: 100px;
	}
}


/* Custom, iPhone Retina */
@media only screen and (max-width : 320px){
	/**/
}


